<h1> Welcome to the Rps game!!!<h1>

<form action ="choose" method="post">

	<label> p1_choice </label>
	<input type="radio" name="p1_choice" value="rock"> Rock<br>
  <input type="radio" name="p1_choice" value="paper"> Paper<br>
  <input type="radio" name="p1_choice" value="scissors"> Scissors<br>  

<label> p2_choice </label>
	<input type="radio" name="p2_choice" value="rock"> Rock<br>
  <input type="radio" name="p2_choice" value="paper"> Paper<br>
  <input type="radio" name="p2_choice" value="scissors"> Scissors<br>

    <input type="submit" value="Submit">

    </form>