
<link rel="stylesheet" href="template.css">

<h1>Keep Track of your money!!<h1>
<a href="/account?name=Sonia">Sonia </a> 
<a href="/account?name=Priya">Priya </a>  



	<h3> Dad Login <h3>
<form action ="logout" method ="post"> 
	
	<label> User Name </label>
		<input type="text" name="User_Name">

		<label> Password</label>
	<input type="password" name="pwd">
	
	<input type= "submit"=>

</form>